.html5edit {
    position: relative;
    min-height: 2.2em;
    padding-top:1.5em;
}

.html5edit > .editbutton {
    position: absolute;
    top: 0.2em;
    right: 1em;
    height: 1.2em;
    width: 100%;
    opacity: .2;
    text-align: right;
    font-size: smaller;
    text-wrap: none;
}

.html5edit > .editbutton:hover  {
    opacity: .5;
}
